@font-face {
    font-family: "YanoneKaffeesatz";
    src: url("fonts/YanoneKaffeesatz-Bold.woff2");
}
  /* Font definition */
@font-face {
    font-family: "SquidgySlimes";
    src: url("fonts/SquidgySlimes.woff2");
}

#root{
    --col-01:#869fad;
    --col-02:#0b1e56;
    --col-03:#88dab4;
    --col-04:#c5ebd4;
}
 /* Styles for all elements */
* {
    margin: 10px;
    padding: 0;
}

 /* Styles for anchor (link) elements */
a {
    text-decoration: none;
}
 /* Styles for the body element */
body {
    background-color:#d0e3ee;
    overflow-x: hidden;
}

button{
    width: 100px;
    height: 50px;
    background-color: #0b1e56;
    color:#c5ebd4;
    border-radius: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

main {
    display: none;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

.w-100 {
    width: 100%;
}

.loading {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:var(--col-01);
}

.loading span {
    font-family: "YanoneKaffeesatz";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
    color: #0b1e56;
    text-shadow: -2px -10px 0 #9cd5b3;
}

header {
    position: relative;
}

header .wrap {
    width: 100%;
    height: 500px;
    filter: blur(6px);
    background: rgba(0, 0, 0, 1) url("images/Carrieres\ -\ Saint-Denis.jpeg") center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150px;
    color: #0b1e56;
    text-shadow: -2px -15px 0 #9cd5b3;
}

.container1 {
    padding-top: 8%;
}

.container {
    transition: transform .6s ease;
}

.container:nth-child(even) {/* Even number*/
    transform: translateX(-200%);
}

.container:nth-child(odd) {/* Odd number */
    transform: translateX(200%);
}
/*  */
.container.show-center {
    transform: translateX(0);
}

.container1 .wrap, .container2 .wrap, .container3 .wrap, .container4 .wrap, .container7 .wrap, .container8 .wrap {
    margin-bottom: 2%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.container1-con1, .container2-con1, .container3-con1, .container4-con1, .container7-con1, .container8-con1 {
    width: 50%;
    max-height: fit-content;
}

.container1-con2, .container2-con2, .container3-con2, .container4-con2, .container7-con2, .container8-con2 {
    width: 48%;
    max-height: fit-content;
}

table {
    width: 100%;
    font-size: 24px;
    border-collapse: separate;
    color: #ffffff;
    background-color: rgba(11, 30, 86, 0.5);
    border: none;
    border-radius: 30px;
    font-family: 'Courier New', Courier, monospace;
}

table td, table th {
    border: none;
}

@keyframes text-color-animation {
    0% { color: #9cd5b3; }
    50% { color: #0b1e56; } /* Change to the desired color */
    100% { color: #9cd5b3; }
}

table td {
    padding: 10px 20px;
    animation: text-color-animation 5s infinite; /* Adjust the duration as needed */
}

table td:nth-of-type(1) {
    font-family:"SquidgySlimes";
    font-size: 40px;
    color:#c5ebd4;
}



.more {
    margin-top: 20px;
    text-align: right;
    font-family:'Courier New', Courier, monospace;
    border: 5px;
}

.more a {
    display: inline-block;
    background-color: #fff;
    padding: 10px 20px;
    background-color: #0b1e56;
    color: #fff;
    font-weight: bold;
    transition: 0.3s linear;
}

.more a:hover {
    transform: rotate(6deg);
    box-shadow: 0 -15px 15px rgba(205, 224, 234, 0.58);
}

.container1-more {
    display: none;
    margin-top: 20px;
    margin-right: 2%;
}

.container1-more p {
    font-size: 20px;
    color:#0b1e56;
    margin-bottom: 20px;
}

.container1-more p:last-of-type {
    margin-bottom: 0;
}

.container-banner .wrap {
    position: relative;
}

.banner{
    margin: 0 auto 2%;
	position: relative;
	overflow: hidden;
	height: 600px;
	width: 900px;
    box-shadow: -20px 0px  #668f77;
}

.banner-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: slideShow 6s infinite;
}

.banner-slide:nth-child(1) {
    animation-delay: 0s;
}

.banner-slide:nth-child(2) {
    animation-delay: 3s;
}

.banner-slide:nth-child(3) {
    animation-delay: 6s;
}


@keyframes slideShow {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    33.33% {
        opacity: 1;
    }
    53.33% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.button:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.dots {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 16px;
}

.dots span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(7, 17, 27, 0.4);
    margin-left: 8px;
    line-height: 12px;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8) inset;
    cursor: pointer;
}

.dots span.active {
    box-shadow: 0 0 0 2px rgba(7, 17, 27, 0.4) inset;
    background: #fff;
}


.container5, .container6 {
    margin-bottom: 2%;
    overflow: hidden;
}
.container-scroll {
    display: grid;
    grid-template-columns: repeat(5,calc(569 / 1920 * 100vw));
    grid-gap: calc(50 / 1920 * 100vw);
}
.container9 {
    height: 500px;
    width: 100%;
    background: url("images/Burgo Marina at Bordighera.jpeg") center center no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

@-webkit-keyframes flipInY{
    0%{
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in;
        opacity:0;
        -webkit-transform:perspective(400px) rotateY(90deg);
        transform:perspective(400px) rotateY(90deg)
    }
    40%{
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in;
        -webkit-transform:perspective(400px) rotateY(-20deg);
        transform:perspective(400px) rotateY(-20deg)
    }
    60%{
        opacity:1;
        -webkit-transform:perspective(400px) rotateY(10deg);
        transform:perspective(400px) rotateY(10deg)
    }
    80%{
        -webkit-transform:perspective(400px) rotateY(-5deg);
        transform:perspective(400px) rotateY(-5deg)
    }
    to{
        -webkit-transform:perspective(400px);
        transform:perspective(400px)
    }
}
@keyframes flipInY{
    0%{
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in;
        opacity:0;
        -webkit-transform:perspective(400px) rotateY(90deg);
        transform:perspective(400px) rotateY(90deg)
    }
    40%{
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in;
        -webkit-transform:perspective(400px) rotateY(-20deg);
        transform:perspective(400px) rotateY(-20deg)
    }
    60%{
        opacity:1;
        -webkit-transform:perspective(400px) rotateY(10deg);
        transform:perspective(400px) rotateY(10deg)
    }
    80%{
        -webkit-transform:perspective(400px) rotateY(-5deg);
        transform:perspective(400px) rotateY(-5deg)
    }
    to{
        -webkit-transform:perspective(400px);
        transform:perspective(400px)
    }
}
#slider-container {
  /* other style rules */
  
    cursor: url(images/water\ lilies.png), auto; /* Replace with the image path of the custom mouse style */
  }

  
.parallax-wrapper{
    /* this is how we make it scroll inside the div, its only ever as tall as the current window */
    height: 100vh;
    /* make sure it'll scroll in the y (vertical) direction */
    overflow-y: auto;
    /* turn off scroll in the x (horizontal) direction */
    overflow-x: hidden;
    /* this is setting the z (frontal) depth of 3D space */
    /* just setting up the potential range so could be any number - higher will give you more discrete control */
    /* MDN page for CSS perspective https://developer.mozilla.org/en-US/docs/Web/CSS/perspective */
    perspective: 10px;
  }
  
  .p-circles-wrapper{
    position: relative;
    /* I'm setting the height to be double the screen height so it can have space to scroll down */
    height: 180vh;
    /* this is letting its children (the 3 ids below) use 3D transforms */
    /* MDN page for CSS transform style https://developer.mozilla.org/en-US/docs/Web/CSS/transform-style */
    transform-style: preserve-3d;
  }
  
  #circleOne {
    /* this lets us place them outside of document flow */
    position: absolute;
    width: 5vh;
    height: 5vh;
    left: 40%;
    top: 70%;
    border-radius: 5vh;
    /* this is where we set how far back in the z-plane they should be placed */
    transform: translateZ(-2px);
  }
  #circleTwo {
    position: absolute;
    width: 10vh;
    height: 10vh;
    left: 5%;
    top: 50%;
    border-radius: 15vh;
    transform: translateZ(-8px);
  }
  #circleThree {
    position: absolute;
    width: 25vh;
    height: 25vh;
    left: -60%;
    top: 10%;
    border-radius: 30vh;
    transform: translateZ(-16px);
  }

  
  